<li>
	{{name}}

	<button class="change-devoured" data-id="{{id}}" data-newDevoured=""="{{devour}}">
		{{#if devoured}}Yum!{{else}}Not Devoured{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Delete Burger</button>
</li>
